<% layout("/layouts/boilerplate") %>

<body>
<div class = "col-md-8 offset-md-2">
    <h3>Create A New Listing</h3>
    <% if (typeof error !== "undefined") { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post" action="/listings" class="needs-validation" novalidate>
        <div>
            <label for="title" class="form-label">Title:</label>
            <input id="title" name="listing[title]" placeholder="enter title" type="text" class="form-control" required> 
            <div class="invalid-feedback"> please provide title</div>
                
        </div>
        
        <div>
            <label for="description" class="form-label">Description:</label>
             <textarea id="description" name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
            <div class="invalid-feedback"> please provide short description</div>
            </div>
       <div>
            <label for="image" class="form-label">Image URL:</label>
        <input id="image" name="listing[image]" placeholder="enter image url" type="text" class="form-control" >
       
    </div>
       <div>
            <label for="price" class="form-label">Price:</label>
        <input id="price" name="listing[price]" placeholder="enter price" type="text" class="form-control" required>
        <div class="invalid-feedback"> please provide valid price</div>
    </div>
        <div>
            <label for="country" class="form-label">Country:</label>
            <input id="country" name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
            <div class="invalid-feedback"> please provide country</div>
        </div>
        <div>
            <label for="location" class="form-label">Location:</label>
            <input id="location" name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
            <div class="invalid-feedback"> please provide location</div>
        </div>
        <br/><br/>
        <button type="submit" class="btn btn-dark">Add</button>
    </form>

</div>
    
</body>
